Repository arpandaze/AaryaPay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-client-lib, configs-sync

.gitlab-ci.yml:

stages:
  - test
  - build
  - deploy
  - maintenance

test-backend:
  stage: test
  image: golang:latest
  variables:
    POSTGRES_DB: "aaryapaytest"
    POSTGRES_USER: "postadmin"
    POSTGRES_PASSWORD: "postpass"
    MODE: "ci-test"
    REDIS_HOST: redis
    MP_SMTP_AUTH_ACCEPT_ANY: "true"
    MP_SMTP_AUTH_ALLOW_INSECURE: "true"

  services:
    - name: postgres:13-alpine
      alias: postgres
    - name: redis:6-alpine
      alias: redis
      command: ["--requirepass redispass"]
    - name: axllent/mailpit
      alias: localhost

  script:
    - cd api
    - go install -tags 'postgres' github.com/golang-migrate/migrate/v4/cmd/migrate@latest
    - migrate -source file://migrations -database=postgres://postadmin:postpass@postgres:5432/aaryapaytest\?sslmode=disable up
    - go test ./...

  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - api/**/*
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+-b$/'
      changes:
        - api/**/*
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      changes:
        - api/**/*

test-client-lib:
  stage: test
  image: dart:latest
  script:
    - cd libaaryapay
    - dart pub get
    - dart test
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - libaaryapay/**/*
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      changes:
        - libaaryapay/**/*

build-backend:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo $CI_BUILD_TOKEN | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - cd api
    - docker build -t "$CI_REGISTRY_IMAGE/aaryapay-backend:$CI_COMMIT_TAG" -t "$CI_REGISTRY_IMAGE/aaryapay-backend:latest" .
    - docker push $CI_REGISTRY_IMAGE/aaryapay-backend:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE/aaryapay-backend:latest
  only:
    refs:
      - tags
    variables:
      - $CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+-b$/

build-file-server:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo $CI_BUILD_TOKEN | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - cd file_server
    - docker build -t "$CI_REGISTRY_IMAGE/aaryapay-file-server:$CI_COMMIT_TAG" -t "$CI_REGISTRY_IMAGE/aaryapay-file-server:latest" .
    - docker push $CI_REGISTRY_IMAGE/aaryapay-file-server:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE/aaryapay-file-server:latest
  only:
    refs:
      - tags
    variables:
      - $CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+-f$/

configs-sync:
  image: alpine:latest
  stage: deploy
  script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY" | base64 -d)
    - cd deployment
    - ./sync-to-server.sh
    - ssh -o StrictHostKeyChecking=no ubuntu@$SSH_DEPLOY_HOST "
      echo $CI_BUILD_TOKEN | podman login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY &&
      cd /home/ubuntu/aaryapay &&
      ./stop.sh &&
      CI_REGISTRY_IMAGE=$CI_REGISTRY_IMAGE ./start.sh
      "
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - deployment/**/*
        - api/templates/**/*
        - api/etc/**/*

ssh-deploy:
  image: alpine:latest
  stage: deploy
  script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY" | base64 -d)
    - ssh -o StrictHostKeyChecking=no ubuntu@$SSH_DEPLOY_HOST "
      echo $CI_BUILD_TOKEN | podman login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY &&
      cd /home/ubuntu/aaryapay &&
      CI_REGISTRY_IMAGE=$CI_REGISTRY_IMAGE ./update.sh
      "
  only:
    refs:
      - tags
    variables:
      - $CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+-b$/

feat: edit profile completed
  frontend/lib/repository/edit_profile.dart
  frontend/lib/screens/Settings/AccountInformation/account_information.dart
  frontend/lib/screens/Settings/AccountInformation/bloc/account_information_bloc.dart
  frontend/lib/screens/Settings/AccountInformation/bloc/account_information_event.dart
  frontend/lib/screens/Settings/AccountInformation/bloc/account_information_state.dart
Due: none

fix: placeholder state fix
  frontend/lib/screens/Settings/AccountInformation/account_information.dart
  frontend/lib/screens/Settings/AccountInformation/bloc/account_information_bloc.dart
  frontend/lib/screens/Settings/AccountInformation/bloc/account_information_state.dart
Due: none

feat: transaction qr implemented
  frontend/lib/components/QRImage.dart
  frontend/lib/screens/QrScan/components/my_qr_code.dart
  frontend/lib/screens/QrScan/components/qr_scanner_overlay.dart
  frontend/lib/screens/QrScan/qrscan_bloc.dart
  frontend/lib/screens/QrScan/qrscan_event.dart
  frontend/lib/screens/QrScan/qrscan_screen.dart
  frontend/lib/screens/QrScan/qrscan_state.dart
  frontend/lib/screens/Send/offline_send.dart
Due: none

chore: omitempty on marshal and cleanup
  api/endpoints/sync/sync.go
  api/payloads/bkvc.go
  api/payloads/tam.go
  api/payloads/tvc.go
Due: test-backend

feat: data bloc created and changed transaction to tam
  libaaryapay/lib/bloc/data_bloc.dart
  libaaryapay/lib/bloc/data_event.dart
  libaaryapay/lib/bloc/data_state.dart
  libaaryapay/lib/caching/favorite.dart
  libaaryapay/lib/caching/profile.dart
  libaaryapay/lib/caching/transaction.dart
  libaaryapay/lib/libaaryapay.dart
  libaaryapay/lib/transaction/bkvc.dart
  libaaryapay/lib/transaction/tam.dart
  libaaryapay/lib/transaction/tvc.dart
  libaaryapay/lib/transaction/utils.dart
  libaaryapay/pubspec.yaml
  libaaryapay/test/libaaryapay_test.dart
Due: test-client-lib

chore: unused dependency delete
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: none

feat: circular loading animation
  frontend/lib/components/CircularLoadingAnimation.dart
Due: none

feat: image loaded from fileserver and caching
  frontend/lib/components/CustomCircularAvatar.dart
  frontend/lib/components/CustomFavoritesAvatar.dart
  frontend/lib/constants.dart
  frontend/lib/helper/utils.dart
Due: none

feat: topbar integration
  frontend/lib/components/bloc/top_bar_bloc.dart
  frontend/lib/components/bloc/top_bar_event.dart
  frontend/lib/components/bloc/top_bar_state.dart
  frontend/lib/components/topbar.dart
Due: none

chore: minor edit
  frontend/lib/components/TransactionsCard.dart
  frontend/lib/screens/Settings/Favourites/favourites_card.dart
Due: none

feat: home screen favorites now opens SendMoney screen of a particular user
  frontend/lib/repository/favourites.dart
  frontend/lib/screens/Home/components/bloc/home_favorites_bloc.dart
  frontend/lib/screens/Home/components/bloc/home_favorites_event.dart
  frontend/lib/screens/Home/components/bloc/home_favorites_state.dart
  frontend/lib/screens/Home/components/favourites.dart
  frontend/lib/screens/Home/components/midsection.dart
  frontend/lib/screens/Send/send_money.dart
Due: none

feat: profile edit complete
  frontend/lib/screens/Settings/AccountInformation/account_information.dart
  frontend/lib/screens/Settings/AccountInformation/bloc/account_information_bloc.dart
  frontend/lib/screens/Settings/AccountInformation/bloc/account_information_state.dart
Due: none

chore: users can not add themselves as favorites
  api/endpoints/favorites/submit.go
Due: test-backend

chore: removed unused dependencies
  libaaryapay/pubspec.yaml
Due: test-client-lib

chore: fixed error message
  api/endpoints/favorites/submit.go
Due: test-backend

fix: transaction sync error fixed
  api/endpoints/sync/sync.go
Due: test-backend

fix: transaction sync test fixed
  api/endpoints/sync/sync.go
  api/tests/helpers/user.go
Due: test-backend

fix: transaction history fix
  frontend/lib/repository/auth.dart
  frontend/lib/repository/transaction.dart
  frontend/lib/screens/Login/bloc/two_fa_bloc.dart
  frontend/lib/screens/TransactionHistory/bloc/transaction_bloc.dart
  frontend/lib/screens/TransactionHistory/bloc/transaction_state.dart
  frontend/lib/screens/TransactionHistory/components/transaction_detail_screen.dart
  frontend/lib/screens/TransactionHistory/transaction_history.dart
Due: none

fix: transaction sync error handle fix
  api/endpoints/sync/sync.go
Due: test-backend

feat: transaction implementation
  frontend/lib/screens/Send/bloc/send_money_bloc.dart
  frontend/lib/screens/Send/bloc/send_money_event.dart
  frontend/lib/screens/Send/bloc/send_money_state.dart
  frontend/lib/screens/Send/send_money.dart
Due: none

chore: on transaction complete go to another page
  frontend/lib/repository/auth.dart
  frontend/lib/repository/favourites.dart
  frontend/lib/screens/Home/components/bloc/home_favorites_bloc.dart
  frontend/lib/screens/Home/components/bloc/home_favorites_state.dart
  frontend/lib/screens/Home/components/favourites.dart
  frontend/lib/screens/Login/bloc/two_fa_bloc.dart
  frontend/lib/screens/Send/components/balance_box.dart
  frontend/lib/screens/Send/components/green_box.dart
  frontend/lib/screens/Send/payment_complete.dart
Due: none

feat: topbar removed
  frontend/lib/main.dart
Due: none

fix: status code fix
  frontend/lib/repository/favourites.dart
Due: none

fix: deadlock on transaction failure fixed
  api/core/database.go
  api/core/extractor.go
  api/core/keys.go
  api/endpoints/auth/2fa.go
  api/endpoints/auth/login.go
  api/endpoints/auth/password_change.go
  api/endpoints/auth/password_recovery.go
  api/endpoints/auth/register.go
  api/endpoints/auth/resend_verification.go
  api/endpoints/auth/verify.go
  api/endpoints/favorites/delete.go
  api/endpoints/favorites/get.go
  api/endpoints/favorites/submit.go
  api/endpoints/profile/get.go
  api/endpoints/profile/update.go
  api/endpoints/sync/get.go
  api/endpoints/sync/sync.go
  api/endpoints/tools/auth_check.go
  api/go.mod
  api/go.sum
  api/main.go
  api/population/data/sample_favorites.go
  api/population/data/sample_transactions.go
  api/population/data/sample_users.go
  api/tests/helpers/user.go
  api/tests/test_transaction/sync_test.go
Due: test-backend

feat: offline authentication
  frontend/android/build.gradle
  frontend/lib/global/bloc/data_bloc.dart
  frontend/lib/global/bloc/data_event.dart
  frontend/lib/global/bloc/data_state.dart
  frontend/lib/global/caching/favorite.dart
  frontend/lib/global/caching/profile.dart
  frontend/lib/global/caching/transaction.dart
  frontend/lib/main.dart
  frontend/lib/screens/Login/login_screen.dart
  frontend/lib/screens/Login/login_two_fa_screen.dart
  frontend/pubspec.lock
Due: none

feat: lottie dependencies added and updeated pubspec with path
  frontend/android/build.gradle
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: none

feat: custom animation widget created
  frontend/assets/animations/check.json
  frontend/lib/components/CustomAnimationWidget.dart
Due: none

feat: calculator layout updated
  frontend/lib/screens/Send/bloc/send_money_event.dart
  frontend/lib/screens/Send/components/numpad_button.dart
  frontend/lib/screens/Send/send_money.dart
Due: none

feat; additional background svg
  frontend/assets/svgs/bamboo.svg
  frontend/lib/helper/utils.dart
Due: none

feat: payment screen updated with new ui
  frontend/lib/screens/Payments/components/payments_mid_section_card.dart
  frontend/lib/screens/Payments/components/payments_top_bar.dart
  frontend/lib/screens/Payments/payments.dart
  frontend/lib/screens/Send/payment_complete.dart
Due: none

feat: topbar with online status
  frontend/lib/components/topbar.dart
Due: none
